<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientTag" value="ABC123" />
  </appSettings>
  <system.diagnostics>
    <!--<sources>
      <source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="System.Runtime.Serialization.XmlTrace.Listener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\TraceLogs\_StaticModel\Traces_Test_ActivityTracing.svclog"/>
        </listeners>
      </source>

      --><!-- Old original LogFile source --><!--
      --><!--<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.ServiceModel.XmlTrace.Listener" initializeData="D:\_Development\branches\TravelCompany\2. Hosting Layer\WcfServiceHost\bin\Debug\Traces.svclog" />
        </listeners>
      </source>--><!--
    </sources>-->
    <sharedListeners>
      <add type="Infrastructure.Tools.Diagnostics.RollingXmlWriterTraceListener, Infrastructure" name="System.ServiceModel.XmlTrace.Listener" traceOutputOptions="None" initializeData="D:\TraceLogs\_StaticModel\_StaticModel.Test.ServiceModel.svclog" />
      <add type="Infrastructure.Tools.Diagnostics.RollingXmlWriterTraceListener, Infrastructure" name="System.Runtime.Serialization.XmlTrace.Listener" traceOutputOptions="None" initializeData="D:\TraceLogs\_StaticModel\_StaticModel.Test.Runtime.Serialization.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\_Development\branches\TravelCompany\1. Presentation Layer\TravelWebApp\TravelWebApp.Areas\_StaticModel\bin\Debug\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.serviceModel>
    <!--<client>
      <endpoint address="http://13.93.125.180:8710/DataVisualizer" 
        binding="wsHttpBinding" 
        bindingConfiguration="WSHttpBinding_IActionService"
        contract="DataVisualiserServiceReference.IActionService" 
        name="WSHttpBinding_IActionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>-->
    <client>
      <endpoint address="http://13.93.125.180:9530/LayrCakeEA_WCF" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActionService" contract="DataVisualiserServiceReference.IActionService" name="WSHttpBinding_IActionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UnsecureServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IActionService" closeTimeout="01:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="10:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>-->
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IActionService" closeTimeout="01:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="10:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.0.0" newVersion="4.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
