<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Google.Apis" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.34.0.1223" targetFramework="net461" />
  <package id="LayrCake.StaticModel.Tests" version="2.0.0.6" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net452" />
  <package id="Moq" version="4.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>